{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
       
    <div class=" jumbotron container col-md-4 mt-4" >
        
        
        <form method="post">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        <div style="margin-left: 100px;">
            <img src="/img_avatar2.png" alt="Avatar" style="height: 20%; width: 40%;">
        </div>
        
        <div class="container">
            <label for="uname" class="mt-2"><b>Votre Email</b></label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control class="col-md-4"" placeholder="Email" required autofocus>
        
            <label for="psw" class="mt-2"><b>votre Mot de passe</b></label>
            <input type="password" name="password" id="inputPassword" class="form-control class="col-md-4"" placeholder="Mot de Passe" required>
            <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
            >   
            <button type="submit" class="btn btn-success btn-sm mt-3">connexion</button>
           
        </div>
        
        </form>
{% endblock %}

       