{% extends 'admin.html.twig' %}

{% block title %}Type{% endblock %}

{% block body %}
    <h1>Type</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ type.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_index') }}">back to list</a>

    <a href="{{ path('type_edit', {'id': type.id}) }}">edit</a>

    {{ include('type/_delete_form.html.twig') }}
{% endblock %}
