
{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron text-center ">
   <div class="container">
        <div class ="row">
            <div class="col-md-8">
                
               
                
            </div>
            <div class="col-md-4 mt-4">
                
                <h1> {{appartement.quartier}} ({{appartement.ville}})</h1>
                <h2><div class="text-primary">{{appartement.prix}} FCFA </div></h2>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container">
        <p>{{appartement.descrition|nl2br}}</p>

        <div class= "row ">
             <div class="col-md-12">
                <h2>Carateristiques</h2>
                <table class= "table table-striped ">
                    
                    <tr>   
                        <td>Nombre de pièces </td>
                        <td>{{appartement.nbPieces}}</td>
                    </tr>
                    <tr>   
                        <td>Chambres</td>
                        <td>{{appartement.nbreChambres}}</td>
                    </tr>
                    
                     <tr>   
                        <td>type</td>
                        <td>{{appartement.types}}</td>
                    </tr>
                </table> 
            </div>
</div>
    </div>
   
</div>

{% endblock %} 
