
{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron text-center ">
   <div class="container">
        <div class ="row">
            <div class="col-md-8">
                
               
                
            </div>
            <div class="col-md-4 mt-4">
                
                <h1> {{parcelle.quartier}} ({{parcelle.ville}})</h1>
                <h2><div class="text-primary">{{parcelle.prix}} FCFA </div></h2>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container">
        <p>{{parcelle.descrition|nl2br}}</p>

       
    </div>
   
</div>

{% endblock %} 
