{% extends 'base.html.twig' %}

{% block body %}
<style>
  .centered {
      text-align: center;

    }
    .bloc {
      min-height: 300px;
      margin-bottom: 15px;
    }
    .zp_img{
      width: 100%;
      height: 200px;
      overflow: hidden;
    }
    .zp_zdesc{
        border: 1px solid #ccc;
        border-radius: 2px;
        padding-bottom: 10px;
    }
    .item_zp{
        margin-bottom: 20px;
    }
    
  .prix3{
      display: block;
      cursor: pointer;
      text-align: center;
      width: 80%;
      margin: auto auto;
      padding: 10px;
      border: 1px solid #81BC24;
      border-radius: 5px;
      background-color: #81BC24;
      color: white;
      font-weight: 700;
      margin-bottom: 10px;
  }
  .details3{
      display: block;
      cursor: pointer;
      text-align: center;
      width: 80px;
      margin: auto auto;
      padding: 10px;
      border: 1px solid #F91425;
      border-radius: 5px;
      background-color: #F91425;
      color: white;
      font-weight: 700;
      margin-bottom: 10px;
      margin-top: 10px;
      text-transform: uppercase;
  }
  

</style>

<div class="z_back">
    <img src="home_background.jpg" alt="photo" style="width: 100%;height:500px;" class="mb-2"/>
</div>
<div>
    <form class="row  offset-1">
      <input type="text" class=" ml-4 col-md-2 form-control" placeholder="ville"/>
      <input type="text" class="col-md-2 ml-4 form-control" placeholder="quartier"/>
      <input type="text" class="col-md-2 ml-4 form-control" placeholder="prix maximun"/>
      <input type="text" class=" col-md-2 ml-4 form-control" placeholder="nombre de maison"/>
      <input type="submit" class=" ml-4 btn btn-info">
    </form>
</div>
  
<div class = "container">
  
  <h1 class="mt-4" style="text-align: center;">Nos  Nouveautés</h1>
  <div class = "row flex mt-4">
      {% for bien in biens %}
        {#<div class = "card ml-4 col-md-4">
          {% if appartement.filename %}
              <img src="{{ asset('uploads/appartement/' ~ appartement.filename) }}" alt="img-card-top" style="width:100%; height:50%; ">
          {% endif %}
          <div class="card-body">
              
              <p class="card-text">{{appartement.quartier}} ({{appartement.ville}})</p>
              <p class="card-text text-primary" style = "font-size: 2rem; font-weight:bold;">{{appartement.prix}} FCFA</p>
              {#<a href="{{path('home_show',{ id : appartement.id})}}" class="btn  btn-sm btn-info" >Détail</a>
          </div>
        </div>
        #}
        <div class="col-md-6 col-sm-4 centered bloc">
            <div class="item_zp">
                <div class="zp_img">
                    {#<a href="{{path('detail',{ id : appartement.id})}}" > <img src="{{ asset('uploads/appartement/' ~ appartement.filename) }}"  style="width: 100%;height: 200px;"/></a>#}
                </div>
                <div class="zp_zdesc">
                    <p class="card-text mb-1" style = "font-size: 1rem; font-weight:bold;">{{bien.quartier}} ({{bien.ville}})</p>
                    <p class="card-text mb-1 " style = "font-size: 1rem; font-weight:bold;">{{bien.prix}} FCFA</p>
                    
                </div>
            </div>
        </div>

      {%  endfor %}   
  </div>
</div>

{% endblock %} 
