{% extends 'admin.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.dateNaissance) }}
        {{ form_row(registrationForm.adresse) }}
        {{ form_row(registrationForm.telephone) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        <button class="btn btn-success">Inscription</button>
    {{ form_end(registrationForm) }}
{% endblock %}
