/* ==========================================================================
   Général
   ========================================================================== */

html {
    position: relative;
    color: dimgray;
    min-height: 100%;
    font-size: 1em;
    line-height: 1.4;
}


/* Style Global */

body {
    background: transparent;
    margin: 0;
    height: 100%;
    color: dimgray;
    font-family: sans-serif;
    font-weight: 400;
}

#fec {
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -300;
    height: 100%;
    background-size: cover;
}

@font-face {
    font-family: 'CARDIF';
    src: url('../fonts/CARDIF.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'skarpalt';
    src: url('../fonts/skarpalt.ttf');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
H5,
H6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

p {
    padding: 0;
    margin-bottom: 12px;
    font-family: 'CARDIF';
    color: #444444;
    font-size: 17px !important;
    line-height: 22px;
    font-size: 14px;
    line-height: 24px;
}

img {
    height: auto;
    max-width: 100%;
}

.img {
    height: 400;
    width: 100%;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-transition: background-color .4s linear, color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linear;
    -o-transition: background-color .4s linear, color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear;
    transition: background-color .4s linear, color .4s linear;
}

a:hover,
a:focus {
    text-decoration: none;
    color: rgba(218, 37, 28, 0.9);
}

::moz-selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}

.centered {
    text-align: center;
}


/* ombre texte */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * ligne horizontale
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * supression difference entre audio, canvas, iframes,
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * suppresion du style du fieldset par defaut
 */

/*
 * Redimenssionnement verticale uniquement pour le textarea
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   MAJ Naviguateur
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   header
   ========================================================================== */

/* Style Navigation */

.navbar {
    min-height: 50px;
    padding-top: 10px;
    margin-bottom: 0px;
    border: none;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.navbar-header .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 10px;
    margin-right: 3px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background: transparent;
    border-bottom: 2px solid #fff;
}

.navbar-default {
    background-color: #0472A7;
    border-color: 1px solid gray;
}

.dropdown-menu {
    color: dimgray;
    background-color: white;
    min-width: 250px;
}

.dropdown-menu > li > a {
    color: dimgray;
    transition: ease-in-out;
    transition-duration: .5s;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: rgba(0, 68, 148, 0.7);
    background-color: #0472A7;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    padding-left: 30px;
    background-color: #0472A7;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #0472A7;
    outline: 0;
}

.logo {
    height: 60px;
}

.logowall {
    text-align: center;
}

/* le slide */

#sliderFrame,
#sliderFrame div {
    box-sizing: content-box;
}

#sliderFrame {
    width: 100%;
    margin: 0 auto;
    /*center-aligned*/
}

#slider,
#slider .sliderInner {
    width: 100%;
    height: 400px;
    /* Must be the same size as the slider images */
    border-radius: 0px;
}

#slider {
    background-color: white;
    position: relative;
    margin: 0 auto;
    /*center-aligned*/
    transform: translate3d(0, 0, 0);
}

/* the link style (if slide image is wrapped by a link) */

#slider a.imgLink,
#slider .video {
    z-index: 2;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#slider .video {
    background: transparent url(video.png) no-repeat 50% 50%;
}


/* ------ built-in navigation bullets wrapper ------*/

#slider .navBulletsWrapper {
    display: none;
}

/* --------- Others ------- */

#slider img,
#slider > b,
#slider a > b {
    position: absolute;
    border: none;
    display: none;
}

#slider .sliderInner {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

#slider > a,
#slider video,
#slider audio {
    display: none;
}

#slider div {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}



/* -- thumbnails -- */

#thumbs {
    background: white url(../medias/autres/thumbs-bar.gif) repeat-x 0 0;
    border: 1px solid white;
    text-align: center;
    font-size: 0px;
    line-height: 45px;
}

#thumbs .thumb {
    width: 60px;
    height: 45px;
    cursor: pointer;
    text-align: center;
    border-left: 1px solid #FFF;
    border-right: 1px solid #DDD;

    display: inline-block;
    *display: inline;
    zoom: 1;
    /*IE Hack*/
}

#thumbs .thumb-on {
    background-image: url(../medias/autres/active-bg.png);
}

#thumbs .thumb img {
    vertical-align: middle;
}










/* ==========================================================================
   content parallax
   ========================================================================== */

#para_accueil {
    display: block;
    padding-top: 20px;
    background: white;
    min-height: 450px;
    max-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

#para_profil {
    display: block;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background: white;
    min-height: 100%;
    max-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*#para_domaine {
    margin-top: -20px;
    padding-bottom: 20px;
    background: white;
    min-height: 953px;
    max-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

#para_client {
    padding-top: 10px;
    padding-bottom: 50px;
    background: #004494;
    min-height: 100%;
    max-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#para_localisation {
    padding-bottom: 20px;
    background-image: white;
    min-height: 100%;
    max-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#para_static {
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: white;
    min-height: 100%;
    max-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#para_staticdmne {
    padding-top: 0px;
    padding-bottom: 20px;
    background-color: white;
    min-height: 400px;
    max-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#para_contact {
    padding-top: 120px;
    padding-bottom: 20px;
    background-color: #F5F5F5;
    min-height: 664px;
    max-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#para_adminb {
    padding-top: 100px;
    padding-bottom: 20px;
    background-image: url("../medias/lbg/bg3.jpg");
    min-height: 610px;
    max-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ==========================================================================
   zone presentation ccb
   ========================================================================== */

/* profil */

.vision {
    display: block;
    text-align: center;
}

.visionacceuil {
    display: block;
    text-align: center;
    font-family: 'CARDIF';
    color: #F1870B;
}

.profil {
    text-align: justify;
    font-family: 'CARDIF';
    color: #444444;
    font-size: 17px !important;
    line-height: 22px;
    padding-left: 20%;
    padding-right: 20%;
}

.jumbotron {
    background-color: #f7f7f7;
    color: #444444;
}

/* ==========================================================================
   zone domaine activité
   ========================================================================== */

.domaine {}

.energie,
.genie_civil,
.telecoms,
.autres {
    height: 450px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.item {
    display: block;
    z-index: -10;
    height: 100%;
    text-decoration: none;
}

.descrip_domaine {
    position: relative;
    top: -440px;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    padding-top: 10px;
    text-align: center;
}

.nom_domaine {
    margin: auto;
}

.lien_domaine {
    color: white;
    text-transform: uppercase;
}

.lien_domaine:hover {
    color: #ebb900;
}

.title_section {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'hayashi';
    color: rgba(255, 255, 255, 0.9);
}

.title_sectionb {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'CARDIF';
    color: rgba(0, 0, 0, 0.7);
}

.title_section1 {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'CARDIF';
    color: #F1840C;
}

.title_section2 {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'CARDIF';
    color: #A5BD6F;
}

.title_section3 {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'CARDIF';
    color: #39B0B7;
}

.title_section4 {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'CARDIF';
    color: darkred;
}

.colore_sec_texte {
    color: rgba(251, 71, 70, 1);
}

.bookends {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.bookendsblack {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.e_conception {
    display: block;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

/* diverses activité */

.item_gcd {
    width: 100%;
    height: 215px;
    overflow: hidden;
    position: relative;
    border: 1px solid gray;
}

.item_gcd img {
    width: 100%;
    min-height: 215px;
    position: relative;
    top: 0;
    left: 0;
    transition: ease-in;
    transition-duration: .3s;
}

.item_domaine:hover img {
    transform: scale(1.1);
}


.item_gcd .ovrly_gcd {
    background: rgba(242, 146, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.item_gcd .ovrly_ed {
    background: rgba(178, 212, 102, 0.7);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.item_gcd .ovrly_td {
    background: rgba(80, 196, 192, 0.7);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.item_gcd .ovrly_ad {
    background: rgba(178, 0, 12, 0.7);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}



.item_gcd .buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.item_gcd .buttons .fa {
    background: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
    color: white;
}

.item_gcd .buttons .fa-link {
    -webkit-transform-origin: 50% -110%;
    -moz-transform-origin: 50% -110%;
    -ms-transform-origin: 50% -110%;
    -o-transform-origin: 50% -110%;
    transform-origin: 50% -110%;
}

.item_gcd .buttons .fa-plus {
    -webkit-transform-origin: 50% 210%;
    -moz-transform-origin: 50% 210%;
    -ms-transform-origin: 50% 210%;
    -o-transform-origin: 50% 210%;
    transform-origin: 50% 210%;
}

.item_domaine:hover .buttons .fa {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}

.item_domaine:hover .ovrly_gcd {
    opacity: 1;
}

.item_domaine:hover .ovrly_ed {
    opacity: 1;
}

.item_domaine:hover .ovrly_td {
    opacity: 1;
}

.item_domaine:hover .ovrly_ad {
    opacity: 1;
}



.z_info_activite {
    display: block;
    min-height: 30px;
    background-color: #fff;
}

.item_domaine {
    margin-bottom: 25px;
    text-align: center;
    padding-bottom: 0px;
    cursor: pointer;
}

.titre_item {
    display: block;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    padding-top: 10px;
}

.type_domaine {
    font-family: 'CARDIF';
    color: gray;
}

/* slide autre page */

.carousel {
    color: rgba(255, 255, 255, 0.87);
}

.carousel-indicators {
    bottom: 0;
}

ol.carousel-indicators {
    margin-top: 0;
    margin-bottom: -20px;
}

.lien_domaines_autres {
    display: block;
    width: 100%;
    padding: 15px;
    text-align: left;
    padding-left: 10px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}

.lien_domaines_autres:hover {
    background-color: #EE472A;
    color: white;
}

.lien_domaines_gc {
    display: block;
    width: 100%;
    padding: 15px;
    text-align: left;
    padding-left: 10px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}

.lien_domaines_gc:hover {
    background-color: #DEAF6A;
    color: white;
}

.lien_domaines_energ {
    display: block;
    width: 100%;
    padding: 15px;
    text-align: left;
    padding-left: 10px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}

.lien_domaines_energ:hover {
    background-color: #C9E193;
    color: white;
}

.lien_domaines_tel {
    display: block;
    width: 100%;
    padding: 15px;
    text-align: left;
    padding-left: 10px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}

.lien_domaines_tel:hover {
    background-color: #76CCCE;
    color: white;
}

.ettirer {
    display: none;
    transition: ease-in-out;
    transition-duration: 1s;
}


/* ==========================================================================
   zone client satisfait
   ========================================================================== */

.t_cs {
    display: block;
    text-align: center;
    color: white;
}

.e_clt {
    text-align: center;
    margin-top: 20px;
}

.img_clt {
    display: block;
    margin: auto;
}

.img_cltb {
    display: block;
    margin: auto;
    background-color: white;
}

.img_cltc {
    display: block;
    width: 80px;
    height: 80px;
}

.details_clt {
    display: block;
    margin: auto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: white;
    padding: 10px;
    border: 1px solid white;
    margin-top: 5px;
}

.details_clt:hover {
    color: rgba(235, 185, 0, 0.7);
    border: 1px solid rgba(235, 185, 0, 0.7);
}

.tittre_client {
    text-align: center;
}

.z_clt {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    min-height: 230px;
}

/* ==========================================================================
   zone contact
   ========================================================================== */

.textarea {
    padding: 15px;
    height: 150px;
    max-height: 150px;
    width: 100%;
    color: #727272;
    margin-bottom: 5px;
}

.textarea:hover,
.textarea:focus {
    border: 1px solid #ebb900;
    box-shadow: 1px 1px 2px #ebb900;
}

.input_contact {
    width: 100%;
    padding: 15px;
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.075);
    margin-bottom: 5px;
    color: #727272 !important;
    font-size: 13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input_contact:hover {
    border: 1px solid #ebb900;
}

.input_contact:focus {
    color: white;
    outline: none;
    box-shadow: 1px 1px 2px #ebb900;
}

.input_contactb {
    width: 100%;
    padding: 5px;
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.075);
    margin-bottom: 5px;
    color: #727272 !important;
    font-size: 13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input_contactb:hover {
    border: 1px solid #ebb900;
}

.input_contactb:focus {
    color: white;
    outline: none;
    box-shadow: 1px 1px 2px #ebb900;
}

.form-btn {
    width: 180px;
    display: block;
    text-align: center;
    height: auto;
    padding: 15px;
    color: #fff;
    background: rgba(0, 68, 148, 0.7);
    border: none;
    border-radius: 3px;
    outline: none;
    text-transform: uppercase;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
    transition-duration: 0.8s;
    margin: auto;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
}

.form-btn:hover {
    background: rgba(235, 185, 0, 0.9);
    color: dimgray;
    border: none;
}

.form-btn:active {
    opacity: 0.9;
}


/* ==========================================================================
   footer
   ========================================================================== */

.footer {
    width: 100%;
    min-height: 50px;
    background-color: #0472A7;
    padding-top: 15px;
    padding-bottom: 10px;
    color: white;
}

.footer .a {
    color: rgba(255, 255, 255, 0.7);
    display: block;
}

.footer a:hover {
    color: rgba(235, 185, 0, 0.87);
}

.titre_footer {
    font-size: 14px;
}

.footer p {
    color: white;
}

/* ==========================================================================
   autres
   ========================================================================== */

.ccb_l {
    position: relative;
    top: 5px;
    z-index: 10;
    display: block;
    text-align: center;
}

.localisationccb {
    position: relative;
    top: -63px;
    margin-bottom: -85px;
    z-index: -10;
}


.zone_login {
    z-index: 10;
    width: 400px;
    margin: 0 auto;
    color: silver;
    padding: 40px;
}

.z_msg {
    margin-bottom: 5px;
    background-color: antiquewhite;
    padding: 10px;
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.l_cmsgr {
    margin-bottom: 5px;
}

.nom_elm,
.rt_elm {
    display: inline-block;
    vertical-align: top;
}

.nom_elm {
    width: 20%;
}

.rt_elm {
    width: 75%;
}

.ctt_msg {
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 5px;
    text-align: justify;
}

.z_annonce {
    background-color: white;
    border: 1px solid white;
    padding: 10px;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

.titre_annonce {
    padding: 5px;
    background-color: rgba(218, 37, 28, 0.7);
    text-align: center;
}

#return-to-top {
    z-index: 1000;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(235, 185, 0);
    background: rgba(235, 185, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #004494;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: #004494;
}

#return-to-top:hover i {
    color: rgba(235, 185, 0, 0.7);
    top: 5px;
}

.element_prestat {
    font-size: 18px;
}

.lire_suite {
    display: block;
    margin-top: 5px;
}

.msg_bvn {
    display: block;
    background-color: #004494;
    width: 255px;
    text-align: center;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
}

.blue_line {
    display: block;
    height: 5px;
    border: 0;
    border-top: 3px solid #004494;
    margin: 1em 0;
    padding: 0;
    margin-top: -10px;
    z-index: -1;
}

.bienvenu p {
    font-size: 16px;
    text-align: justify;
}

.pdg {
    text-align: center;
}

.namepdg {
    display: block;
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
}

.fjaune {
    /*background-color: rgba(235, 185, 0, 0.7);*/
    font-size: 16px;
}

.fvert {
    /*background-color: rgba(125,149,71, 0.7);*/
    font-size: 16px;
}

.zclient {
    margin-top: 50px;
}

.img_clt {
    margin-top: 20px;
    transition: ease-in-out;
    transition-duration: .5s;
    cursor: pointer;
}

.img_clt:hover {
    transform: scale(1.1);
}


.plus {
    font-size: 30px;
}

.titre_item_gc {
    display: block;
    width: 100%;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-left: 7px solid #EBB900;
    cursor: pointer;
}

.titre_item_en {
    display: block;
    width: 100%;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-left: 7px solid #2E9A68;
    cursor: pointer;
}


.titre_item_tc {
    display: block;
    width: 100%;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-left: 7px solid #0079AA;
    cursor: pointer;
}

.titre_item_ad {
    display: block;
    width: 100%;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-left: 7px solid #B4251D;
    cursor: pointer;
}

.secltion_aside {
    width: 100%;
    padding-bottom: 0px;
    background-color: #004494;
    color: white;
}

.titre_aside {
    display: block;
    width: 100%;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    color: #6184B8;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid gray;
    background-color: #fff;
}

.content_aside ul {
    list-style-type: none;
}

.content_aside {
    padding: 10px;
    border: 1px solid gray;
    margin-top: -11px;
}

.lien_client {
    display: block;
    width: 100%;
    padding-left: 10px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 14px;
    transition: ease-in-out;
    transition-duration: .5s;
    color: white;
    font-weight: 400;
}

.lien_client:hover {
    padding-left: 20px;
    color: #EBB900;
}

.focused {
    color: rgba(218, 37, 28, 0.9);
}

.contenubloc {
    margin-top: 10px;
}

.contenublocb {
    margin-top: 40px;
}

.descrip {
    text-align: justify;
    color: #444444;
}

.b {
    text-align: justify;
    font-size: 13px;
}

.images_mini {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.images_mini img {
    transition: all 0.3s linear 0s;
}

.images_mini:hover img {
    transform: scale(1.1);
}

.images_mini .ovrly1 {
    background: rgba(235, 185, 0, 0.87);
    height: 100%;
    left: 125%;
    width: 170%;
    position: absolute;
    top: 0;
    -webkit-transform: skewX(-45deg);
    -moz-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    -o-transform: skewX(-45deg);
    transform: skewX(-45deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.images_mini:hover .ovrly1 {
    left: 100%;
}


.images_mini .ovrly2 {
    background: rgba(46, 154, 104, 087);
    height: 100%;
    left: 125%;
    width: 170%;
    position: absolute;
    top: 0;
    -webkit-transform: skewX(-45deg);
    -moz-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    -o-transform: skewX(-45deg);
    transform: skewX(-45deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.images_mini:hover .ovrly2 {
    left: 100%;
}

.images_mini .ovrly3 {
    background: rgba(0, 121, 170, 0.87);
    height: 100%;
    left: 125%;
    width: 170%;
    position: absolute;
    top: 0;
    -webkit-transform: skewX(-45deg);
    -moz-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    -o-transform: skewX(-45deg);
    transform: skewX(-45deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.images_mini:hover .ovrly3 {
    left: 100%;
}

.images_mini .ovrly4 {
    background: rgba(180, 37, 29, 0.87);
    height: 100%;
    left: 125%;
    width: 170%;
    position: absolute;
    top: 0;
    -webkit-transform: skewX(-45deg);
    -moz-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    -o-transform: skewX(-45deg);
    transform: skewX(-45deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.images_mini:hover .ovrly4 {
    left: 100%;
}

.images_mini .dt1 {
    position: absolute;
    background: #333;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 0 15px 0 15px;
    left: -70%;
    opacity: 0;
    z-index: 1;
    overflow: auto;
    visibility: hidden;
    -webkit-transition: all 0.3s 0.15s;
    -moz-transition: all 0.3s 0.15s;
    -o-transition: all 0.3s 0.15s;
    transition: all 0.3s 0.15s;
}

.images_mini .dt1 p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.2;
    color: #fff;
    text-indent: 10px;
    text-align: justify;
}

.images_mini:hover .img {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
}

.images_mini:hover .dt1 {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.images_mini .dt1 h3 {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.zone_header {
    min-height: 100px;
    width: 100%;
    padding: 15px;
    padding-bottom: 0px;
}


/* Zone recherche du header */

.zh_search{
    width: 100%;
    padding-top: 50px;
}

.searchBar{
    width: 90%;
    padding: 20px;
    border: 1px solid gray;
}
.searchBar:hover,.searchBar:focus{
    width: 90%;
    padding: 20px;
    border: 1px solid #81BC24;
}
.searchButton{
    width: 13%;
    height: 60px;
    visibility: hidden;
}
.mCpte{
    color: #235397;
    font-size: 15px;
}

.mCpte:hover{
    color: #F07D00;
}

.userIco{
    padding-top: 40px;
}
.userIcob{
    display: block;
    font-size: 30px;
}

.zt_gh{
    width: 100%;
    height: 400px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
}

.maj{
    text-transform: uppercase;
}
.zt_gh_elem_img{
    margin-right: 5px;
}
.zt_gh_elem{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f2f2f2;
    margin-top: 15px;
    cursor: pointer;
    transition: ease all 0.5s;
}
.zt_gh_elem:nth-child(1):hover{
    background-color: #01A6CC;
    text-shadow:  0 0 2px #000;
    color: white;
}

.zt_gh_elem:nth-child(2):hover{
    background-color: #B02083;
    text-shadow:  0 0 2px #000;
    color: white;
}
.zt_gh_elem:nth-child(3):hover{
    background-color: #80BB24;
    text-shadow:  0 0 2px #000;
    color: white;
}
.zt_gh_elem:nth-child(4):hover{
    background-color: #F29A29;
    text-shadow:  0 0 2px #000;
    color: white;
}

.e1{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f2f2f2;
    margin-top: 15px;
    cursor: pointer;
    transition: ease all 0.5s;
    font-size: 12px;
}
.e1:hover{
     background-color: #01A6CC !important;
    text-shadow:  0 0 2px #000;
    color: white;
}
.e2{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f2f2f2;
    margin-top: 15px;
    cursor: pointer;
    transition: ease all 0.5s;
    font-size: 12px;
}
.e2:hover{
    background-color: #B02083 !important;
    text-shadow:  0 0 2px #000;
    color: white;
}
.e3{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f2f2f2;
    margin-top: 15px;
    cursor: pointer;
    transition: ease all 0.5s;
    font-size: 12px;
}
.e3:hover{
    background-color: #80BB24 !important;
    text-shadow:  0 0 2px #000;
    color: white;
}
.e4{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f2f2f2;
    margin-top: 15px;
    cursor: pointer;
    transition: ease all 0.5s;
    font-size: 12px;
}
.e4:hover{
    background-color: #F29A29 !important;
    text-shadow:  0 0 2px #000;
    color: white;
}






.zp_img{
    width: 100%;
    height: 130px;
    overflow: hidden;
}
.zp_zdesc{
    border: 1px solid #ccc;
    border-radius: 2px;
    padding-bottom: 10px;
}
.title_zp{
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding: 15px;
    border-bottom: 2px solid #B02083;
}
.title_zp1{
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding: 15px;
    border-bottom: 2px solid #B02083;
}
.title_zp2{
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding: 15px;
    border-bottom: 2px solid #F29A29;
}

.title_zp3{
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding: 15px;
    border-bottom: 2px solid #F91425;
}
.zp_t_art{
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    color: #696969;
    margin-top: 10px;
    margin-bottom: 10px;
}
.mot_couleur{
    color: #B02083;
}
.mot_couleur1{
    color: #B02083;
}
.mot_couleur2{
    color: #F29A29;
}
.mot_couleur3{
    color: #F91425;
}
.item_zp{
    margin-bottom: 20px;
}
.item_zp:hover{
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 0 3px #ccc;
}
.prix{
    display: block;
    cursor: pointer;
    text-align: center;
    width: 80%;
    margin: auto auto;
    padding: 10px;
    border: 1px solid #B02083;
    border-radius: 5px;
    background-color: #B02083;
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
}
.prix1{
    display: block;
    cursor: pointer;
    text-align: center;
    width: 80%;
    margin: auto auto;
    padding: 10px;
    border: 1px solid #B02083;
    border-radius: 5px;
    background-color: #B02083;
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
}
.prix2{
    display: block;
    cursor: pointer;
    text-align: center;
    width: 80%;
    margin: auto auto;
    padding: 10px;
    border: 1px solid #F29A29;
    border-radius: 5px;
    background-color: #F29A29;
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
}
.prix3{
    display: block;
    cursor: pointer;
    text-align: center;
    width: 80%;
    margin: auto auto;
    padding: 10px;
    border: 1px solid #81BC24;
    border-radius: 5px;
    background-color: #81BC24;
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
}
.details{
    display: block;
    cursor: pointer;
    text-align: center;
    width: 80px;
    margin: auto auto;
    padding: 10px;
    border: 1px solid #B02083;
    border-radius: 5px;
    background-color: #B02083;
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.details:hover{
    background-color: #F29A29;
    border: 1px solid #F29A29;
    color: white;
}
.details1{
    display: block;
    cursor: pointer;
    text-align: center;
    width: 80px;
    margin: auto auto;
    padding: 10px;
    border: 1px solid #B02083;
    border-radius: 5px;
    background-color: #B02083;
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.details1:hover{
    background-color: #F29A29;
    border: 1px solid #F29A29;
    color: white;
}

.details2{
    display: block;
    cursor: pointer;
    text-align: center;
    width: 80px;
    margin: auto auto;
    padding: 10px;
    border: 1px solid #F29A29;
    border-radius: 5px;
    background-color: #F29A29;
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.details2:hover{
    background-color: #B02083;
    border: 1px solid #B02083;
    color: white;
}

.details3{
    display: block;
    cursor: pointer;
    text-align: center;
    width: 80px;
    margin: auto auto;
    padding: 10px;
    border: 1px solid #F91425;
    border-radius: 5px;
    background-color: #F91425;
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.details3:hover{
    background-color: #F29A29;
    border: 1px solid #F29A29;
    color: white;
}

.zone_prod{
    min-height: 350px;
    margin-bottom: 15px;
}
.ft_title{
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}
.ft_link{
    display: block;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.ft_link:hover{
    color: yellow !important;
}
.ft_logo{
    padding-top: 10px;
    text-align: center;
}
.z_RA_pneu{
    min-height: 180px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    background-color: #FF6600; 
    color: white;
    margin-bottom: 20px;
}
.z_banner{
    width: 100%;
    text-align: center;
    padding: 5px;
}
.title_srch{
    text-transform: uppercase;
}
.lis_art{
    height: 290px;
}
.form_pneu{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    min-height: 50px;
    margin-bottom: 15px;
    margin-right: 5px;
}
.form_lub{
    display: inline-block;
    vertical-align: top;
    width: 45%;
    min-height: 50px;
    margin-bottom: 15px;
    margin-right: 5px;
}


.select{
    width: 100%;
    padding: 5px;
    color: dimgray;
}
.val_R{
    display: block;
    margin-right: 40px;
}
.rechercher{
    padding: 10px;
    background-color: #B02083;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

.rechercher:hover{
    background-color: #B10173;
}

.fa-search{
    margin-right: 10px;
}
.banner_bas{
    display: block;
    max-height: 320px;
    overflow: hidden;
}
.img_bas{
    width: 100%;
    max-height: 400px;
    transition: ease-in 0.8s;
}
.img_bas:hover{
    transform: scale(1.05);
}
.devise_bas{
    display: block;
    width: 100%;
    min-height: 80px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.zform_contact{
    width: 70%;
    margin: auto auto;
}

.val_ctc{
    padding: 10px;
    width: 200px;
    background-color: #FF6600;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}
.val_ctc:hover{
    background-color: #f56655;
    box-shadow: 0 0 3px black;
}
.z_info_article{
    width: 100%;
    min-height: 250px;
    margin-top: 25px;
}

.elem_detail{
    width: 100%;
}

.title_details{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #646565;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.desc_details{
    min-height: 150px;
}

.desc{
    display: block;
    margin-top: 10px;
    text-align: justify;
}
.detail_mt{
    width: 100%;
    padding: 10px;
    background-color: #B02083;
    color: white;
    text-align: center;
}
.mt_art{
    font-weight: 700;
    font-size: 16px;
}

.dmd_devis{
    display: block;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    background-color: #FF6600;
    color: white;
    font-weight: 700;
    text-align: center;
}
.dmd_devis:hover{
    color: white;
    background-color: #f56655;
}
.cmd_art{
    display: block;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    background-color: #81BC24;
    color: white;
    font-weight: 700;
    text-align: center;
}
.cmd_art:hover{
    color: white;
    background-color: #11BC24;
}

.art_sim{
    margin-top: 40px;
}



/* Admin interface */
.admin_menu_bar {
    width: 100%;
    min-height: 80px;
    padding: 15px;
    background: #0472A7;
}

.A_title {
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    color: #fff;
}

.admin_menu {
    text-align: center;
}

.admin_menu_link {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    padding: 10px 15px 10px 15px;
    color: white;
    font-size: 18px;
}

.admin_menu_link:hover, .actifs {
    color: rgba(218, 37, 28, 0.9);
}

.z_admin_content {
    width: 100%;
    padding: 20px;
    background: #fff;
}

.z_creation {
    padding: 15px;
    margin-bottom: 15px;
}

.z_creation:hover {
    border: 2px solid #81BC24;
}

.title_z_crea {
    text-align: center;
    color: #0472A7;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.input_crea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.input_crea:hover, .input_crea:focus {
    border: 1px solid #81BC24;
}

.valCrea {
    display: block;
    margin: auto auto;
    min-width: 150px;
    padding: 10px;
    background: #81BC24;
    color: #fff;
    border: none;
    text-transform: uppercase;
}

.valCrea:hover {
    border: 1px solid yellow;
}

.chekliste {
    float: right !important;
    font-size: 16px;
    text-decoration: underline;
}

.msg_error {
    color: red;
    font-weight: 700;
    font-size: 16px;
}

.msg_good {
    color: green;
    font-weight: 700;
    font-size: 16px;
}












/*
 * 
 */

.hidden {
    display: none !important;
}

.panel_admin {
    background-color: ghostwhite;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.admin_hello {
    display: block;
    text-align: center;
}

.admin_name {
    color: green;
    margin-right: 5px;
}

.e_admin {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.elem_title,
elem_result {
    display: inline-block;
    vertical-align: top;
}

.l_nep {
    margin-bottom: 2px;
}

.z_infosctc {
    width: 100%;
    min-height: 500px;
    padding: 10px;
    background-color: #004494;
    color: white;
}

.z_infosctc p {
    color: white;
}

.callus {
    text-align: center;
    text-transform: uppercase;
    font-family: 'CARDIF';
}

.callus2 {
    text-align: center;
    padding: 10px;
}

.logoctc {
    display: block;
    text-align: center;
    height: 150px;
    background-color: white;
}

.z_ou {
    display: flex;
    width: 100%;
    min-height: 500px;
}

.ou {
    margin: auto;
    text-transform: uppercase;
    font-family: 'CARDIF';
    font-weight: 700;
    font-size: 24px;
}

.z_ctcus {
    width: 100%;
    min-height: 500px;
    padding: 10px;
    color: dimgray;
}

.blackhr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid gray;
    margin: 1em 0;
    padding: 0;
}

.wus {
    text-align: center;
    text-transform: uppercase;
    font-family: 'CARDIF';
    color: gray
}

.z_panel {
    background-color: #004494;
    color: white;
    width: 100%;
    min-height: 250px;
    padding-bottom: 10px;
}

.z_rtp {
    background-color: #004494;
    color: white;
    width: 100%;
    min-height: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.btn_panel {
    width: auto;
    display: inline-block;
    vertical-align: top;
    height: auto;
    padding: 10px;
    color: #fff;
    background: rgba(235, 135, 0, 1);
    border: none;
    border-radius: 3px;
    outline: none;
    text-transform: uppercase;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
    transition-duration: 0.8s;
    margin: 10px;
    margin-left: 18px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
}

.item_panel {
    display: inline-block;
    width: 100px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    vertical-align: top;
    color: white;
}

.item_panel:hover {
    color: dimgray;
    background-color: white;
}

.active2 {
    color: dimgray;
    background-color: white;
}

/*
 * 
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.zone_msg {
    color: dimgray;
    background-color: white;
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.e_msg,
.r_msg {
    display: inline-block;
    vertical-align: top;
}

.e_msg {
    width: 15%;
    text-decoration: underline;
}

.r_msg {
    width: 75%;
}

.apropos {
    min-height: 500px;
    padding-top: 25px;
}

.title_app {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}





























/*
 * 
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/* panel image */

.panel-image {
    position: relative;
}

.panel-image img.panel-image-preview {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}

.panel-image label {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.panel-heading ~ .panel-image img.panel-image-preview {
    border-radius: 0px;
}

.panel-body {
    overflow: hidden;
}

.panel-image ~ input[type=checkbox] {
    position: absolute;
    top: - 30px;
    z-index: -1;
}

.panel-image ~ input[type=checkbox] ~ .panel-body {
    height: 0px;
    padding: 0px;
}

.panel-image ~ input[type=checkbox]:checked ~ .panel-body {
    height: auto;
    padding: 15px;
}

.panel-image ~ .panel-footer a {
    padding: 0px 10px;
    font-size: 1.3em;
    color: rgb(100, 100, 100);
}

.img_gallerie {
    width: 100%;
    height: 200px;
}


.multi-item-carousel .carousel-inner > .item {
    -webkit-transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out left;
}

.multi-item-carousel .carousel-inner .active.left {
    left: -33%;
}

.multi-item-carousel .carousel-inner .active.right {
    left: 33%;
}

.multi-item-carousel .carousel-inner .next {
    left: 33%;
}

.multi-item-carousel .carousel-inner .prev {
    left: -33%;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner > .item {
        -webkit-transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out left;
        -webkit-transition: 500ms ease-in-out all;
        transition: 500ms ease-in-out all;
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
        -webkit-transform: none!important;
        transform: none!important;
    }
}

.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
    background-image: none;
}

.carousel-controlb {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: transparent;
    filter: alpha(opacity=50);
    opacity: .5;
}

.carousel-controlb.left {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-controlb.right {
    right: 0;
    left: auto;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-controlb:hover,
.carousel-controlb:focus {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
}

.carousel-controlb .icon-prev,
.carousel-controlb .icon-next,
.carousel-controlb .glyphicon-chevron-left,
.carousel-controlb .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.carousel-controlb .icon-prev,
.carousel-controlb .glyphicon-chevron-left {
    left: 1%;
    margin-left: 0px;
}

.carousel-controlb .icon-next,
.carousel-controlb .glyphicon-chevron-right {
    right: 1%;
    margin-right: 0px;
}

.carousel-controlb .icon-prev,
.carousel-controlb .icon-next {
    width: 10px;
    height: 20px;
    font-family: serif;
    line-height: 1;
}

.carousel-controlb .icon-prev:before {
    content: '\2039';
}

.carousel-controlb .icon-next:before {
    content: '\203a';
}


.lien_supp {
    color: red;
    float: right;
}

.z_tab_edit {
    width: 600px;
    max-width: 700px;
    margin:  auto auto;
}

.z_tab_edit2 {
    width: 100%;
    margin:  auto auto;
}

.miniature {
    text-align: center;
    height: 50px;
}


.z_messagerie {
    max-width: 800px;
    margin: auto auto;
    margin-bottom: 15px;
}

.msgr {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #000;
    min-height: 150px;
}

.hrmsg {
    display: block;
    width: 100%;
}

.lemsg {
    display: block;
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.mini_slide {
    height: 100px;
}

.logo_gen {
    height: 60px;
    vertical-align: middle;
}

.dropdown {
    cursor: pointer;
}

.dropdown-toggle {
    color: #fff;
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus {
    color: #fff;
    background: #0472A7;
}


.nom_agence {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #646565;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.ger_agence {
    background-color: #81BC24;
    text-align: right;
    color: #fff;
    padding: 10px 20px;
}

.z_agence {
    min-height: 150px;
    margin-bottom: 15px;
}

.desc_agence {
    padding: 10px 20px;
}

.slide_img {
    height: 500px;
    max-height: 500px;
    width: 100%;
}

.title_pages {
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    margin-top: 25px;
    color: #007EC3;
}

.title_hr {
    border-top: 2px solid #007EC3;
}

.bloc {
    min-height: 300px;
    margin-bottom: 15px;
}

.lang_icon {
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    width: 25px;
    margin: 5px 2px 2px 2px;
}
















/*
 * 
 */

.invisible {
    visibility: hidden;
}

.save {
    margin-top: 10px;
}


/*
 * 
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

.dev {
    color: rgba(250, 24, 24, 0.9);
    font-weight: 700;
}

.zonespace {
    margin-top: 100px;
}

/* ==========================================================================
   Affichage different ecran
   ========================================================================== */

@media all and (max-width: 765px) {}

@media only screen and (min-width: 35em) {
    /* */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* */
}

.gras {
    font-weight: 700;
}






/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                    */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
