<form method="post" action="{{ path('locataire_delete', {'id': locataire.id}) }}" style =" display :inline-block" onsubmit="return confirm('Voulez vous vraiment supprimer?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ locataire.id) }}">
        <button class="btn btn-sm btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
       
    </form>
    