
{% extends 'admin.html.twig' %}

{% block title %}Locataire{% endblock %}

{% block body %}
    

    {{ include('locataire/_form.html.twig', {'button_label': 'Modifier','button_color':'btn btn-warning'}) }}

    
   
{% endblock %}
