{% extends 'admin.html.twig' %}

{% block title %}Locataire index{% endblock %}

{% block body %}
<h3 class="offset-3">liste des locataires</h3> 
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endfor %}
    <table class="table table-striped ">
        <a href="{{ path('locataire_new') }}" class="btn btn-info btn-sm mb-2"><span><i class="fa fa-file" aria-hidden="true"></i></span> Nouveau Locataire</a>
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Profession</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for locataire in locataires %}
            <tr>
                <td>{{ locataire.id }}</td>
                <td>{{ locataire.nom }}</td>
                <td>{{ locataire.profesion }}</td>
                <td>
                   <a href="{{ path('locataire_edit', {'id': locataire.id}) }}"class="btn btn-warning btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                   {{ include('locataire/_delete_form.html.twig') }} 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
