{% extends 'admin.html.twig' %}

{% block title %}Locataire{% endblock %}

{% block body %}
    <h1>Locataire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ locataire.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ locataire.nom }}</td>
            </tr>
            <tr>
                <th>Profesion</th>
                <td>{{ locataire.profesion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('locataire_index') }}">back to list</a>

    <a href="{{ path('locataire_edit', {'id': locataire.id}) }}">edit</a>

    {{ include('locataire/_delete_form.html.twig') }}
{% endblock %}
