{{ form_start(form) }}
<div class ="mt-4 offset-1">

    <div class="col-md-8">{{form_row(form.appartements, {'attr': {'class': "form-control form-control-sm"}})}}</div>
    <div class="col-md-8">{{form_row(form.locataires, {'attr': {'class': "form-control form-control-sm"}})}}</div>
    <div class="col-md-8">{{form_row(form.Montant, {'attr': {'class': "form-control form-control-sm"}})}}</div>
    <div class="col-md-8">{{form_row(form.datePaiement, {'attr': {'class': "form-control form-control-sm"}})}}</div>
    <div class="col-md-8">{{form_row(form.reglements, {'attr': {'class': "form-control form-control-sm"}})}}</div>
    {{  form_rest(form)}}

    <button class=" btn {{ button_color|default('btn-success') }} offset-2 btn-sm" ><span><i class="fa fa-floppy-o" aria-hidden="true"> </i> {{ button_label|default('Enregistrer') }}</span></button>
    <a href="{{ path('paiement_index') }}" class="btn btn-info btn-sm ml-2"><span><i class="fa fa-chevron-left" aria-hidden="true"></i> </span>Retour à la liste</a>
</div>
    {{ form_end(form) }}
