{% extends 'admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Siem Immobilier {% endblock %}

{% block body %}
    <div class = "container mt-4">
            

            {{ include('paiement/_form.html.twig', {'button_label': 'Modifier','button_color':'btn btn-warning'}) }}
    </div>
{% endblock %}

