{% extends 'admin.html.twig' %}

{% block body %}

<div class = "container">
    <h1></h1> 
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}
    <div class = "">
            <a href="{{path('paiement_new')}}" class = "btn btn-info mb-2 btn-sm"><i class="fa fa-file" aria-hidden="true"></i> Nouveau Paiement</a>
    </div>
    <table class="table  table-striped ">
        <thead class="thead-dark">
            <tr>
                <th>Identifiant du bien</th>
                <th>Date de Paiement</th>
                <th>Montant payé </th>
                <th>Mode de reglement </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody >
            {% for paiement in paiements %}
                <tr>
                    <td>{{paiement.appartements}}</td>
                    <td>{{ paiement.datePaiement ? paiement.datePaiement|date('d-m-Y') : '' }}</td>
                    <td>{{ paiement.Montant }}</td>
                    <td>{{ paiement.reglements }}</td>
                    <td><a href="{{ path('paiement_edit', {'id': paiement.id}) }}" class = "btn btn-warning btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">Aucun enregistrement</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
    
</div>

{% endblock %} 
