{% extends 'admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New Paiement{% endblock %}

{% block body %}
    <div class = "container mt-4  ">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {{ include('paiement/_form.html.twig') }}

    </div>
{% endblock %}
