{% extends 'admin.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
    <h1>Paiement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paiement.id }}</td>
            </tr>
            <tr>
                <th>DatePaiement</th>
                <td>{{ paiement.datePaiement ? paiement.datePaiement|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ paiement.Montant }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('paiement_index') }}">back to list</a>

    <a href="{{ path('paiement_edit', {'id': paiement.id}) }}">edit</a>

    {{ include('paiement/_delete_form.html.twig') }}
{% endblock %}
