{{ form_start(form) }}
    <div class ="mt-4"> 
        <div class="row">
            <div class="col-md-6">{{form_row(form.identifiant, {'attr': {'class': "form-control form-control-sm"}})}}</div>
            <div class="col-md-6">{{form_row(form.proprietaires, {'attr': {'class': "form-control form-control-sm"}})}}</div>
        </div>  
        </div>  
        <div class="row">
            <div class="col-md-6">{{form_row(form.ville, {'attr': {'class': "form-control form-control-sm"}})}}</div>
            <div class="col-md-6">{{form_row(form.quartier, {'attr': {'class': "form-control form-control-sm"}})}}</div>
        </div>  
        <div class="row">
            <div class="col-md-6">{{form_row(form.prix, {'attr': {'class': "form-control form-control-sm"}})}}</div>
            <div class="col-md-6">{{form_row(form.description, {'attr': {'class': "form-control form-control-sm"}})}}</div>
           
       <div class="col-md-1 mt-4">{{form_row(form.vendu)}}</div>
        <div class="ml-4">
            <button class = "btn btn-success mb-4">{{button|default('Enregistrer')}}</button>
            <a href="{{ path('parcelle_index') }}" class="btn btn-primary mb-4 " style =" display :inline-block">Retour à la liste</a>
        </div>
        
    </div> 
    
    {{  form_rest(form)}}
{{ form_end(form) }}

    
   