
{% extends 'admin.html.twig' %}

{% block title %}liste des parcelles{% endblock %}

{% block body %}
    
<div class = "container">
        <h1></h1> 
        
        
        <div class = "">
                <a href="{{path('parcelle_new')}}" class = "btn btn-info mb-2 btn-sm">Nouvelle parcelle</a>
        </div>
        <table class="table  table-striped ">
            <thead class="thead-dark">
                <tr>
                    <th>Identifiant</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Vendu</th>
                    <th>actions</th>
                </tr>
        </thead>
        <tbody>
            {% for parcelle in parcelles %}
            <tr>
                <td>{{ parcelle.identifiant }}</td>
                <td>{{ parcelle.description }}</td>
                <td>{{ parcelle.prix }}</td>
                <td>{{ parcelle.vendu ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('parcelle_show', {'id': parcelle.id}) }}" class = "btn btn-primary btn-sm">détail</a>
                    <a href="{{ path('parcelle_edit', {'id': parcelle.id}) }}" class = "btn btn-warning btn-sm">Modifier</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
{% endblock %}

