{% extends 'admin.html.twig' %}

{% block title %}Parcelle{% endblock %}

{% block body %}
    <h1>Parcelle</h1>

    <table class="table">
        <tbody>
           
            <tr>
                <th>Identifiant</th>
                <td>{{ parcelle.identifiant }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ parcelle.ville }}</td>
            </tr>
            <tr>
                <th>Quartier</th>
                <td>{{ parcelle.quartier }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ parcelle.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ parcelle.prix }}</td>
            </tr>
            <tr>
                <th>Vendu</th>
                <td>{{ parcelle.vendu ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('parcelle_index') }}" class="btn btn-primary mb-4 " style =" display :inline-block">Retour à la liste</a>


{% endblock %}


