{{ form_start(form) }}
    
    <div class = "row">
        <div class="col-md-5">{{form_row(form.proprietaire, {'attr': {'class': "form-control form-control-sm"}})}}</div>
        <div class="col-md-5">{{form_row(form.identifiant, {'attr': {'class': "form-control form-control-sm"}})}}</div>
        
    </div>
    <div class ="row"> 
            <div class="col-md-5">{{form_row(form.ville, {'attr': {'class': "form-control form-control-sm"}})}}</div>   
            
            <div class="col-md-5">{{form_row(form.quartier, {'attr': {'class': "form-control form-control-sm"}})}}</div>
        </div> 
    <div class ="row">    
        <div class="col-md-5">{{form_row(form.nbPieces, {'attr': {'class': "form-control form-control-sm"}})}}</div>
        <div class="col-md-5">{{form_row(form.nbreChambres, {'attr': {'class': "form-control form-control-sm"}})}}</div>
    </div> 
    
    <div class ="row">    
        <div class="col-md-5">{{form_row(form.types, {'attr': {'class': "form-control form-control-sm"}})}}</div>
        <div class="col-md-5">{{form_row(form.locataires, {'attr': {'class': "form-control form-control-sm"}})}}</div>
    </div> 
    <div class ="row">    
        <div class="col-md-5">{{form_row(form.conditionLocation, {'attr': {'class': "form-control form-control-sm"}})}}</div>
        <div class="col-md-5">{{form_row(form.descrition, {'attr': {'class': "form-control form-control-sm"}})}}</div>
        
        {#<div class="col-md-5">{{form_row(form.imageFile, {'attr': {'class': "custom-file-input",'lang':"fr"}})}}</div> #}
    </div> 
    <div class ="row">
        <div class="col-md-5">{{form_row(form.prix, {'attr': {'class': "form-control form-control-sm"}})}}</div>
        <div class="col-md-1">{{form_row(form.louer)}}</div>
    </div>
    
    {{  form_rest(form)}}

    <button class = "btn btn-success mb-4">{{button|default('Enregistrer')}}</button>
    <a href="{{ path('appartement_index') }}" class="btn btn-primary mb-4" style =" display :inline-block">Retour à la liste</a>

{{ form_end(form) }}
