{% extends 'admin.html.twig' %}

{% block title %}Edit Appartement{% endblock %}

{% block body %}
    <h2>Modification</h2>
   

    {{ include('appartement/_form.html.twig', {'button_label': 'Update'}) }}
   
{% endblock %}
