{% extends 'admin.html.twig' %}

{% block title %}liste des appartements{% endblock %}

{% block body %}
    
<div class = "container">
        <h1></h1> 
        
        
        <div class = "">
                <a href="{{path('appartement_new')}}" class = "btn btn-info mb-2 btn-sm">Nouvel Appartement</a>
        </div>
        <table class="table  table-striped ">
            <thead class="thead-dark">
                <tr>
                    <th>Identifiant du bien</th>
                    <th>quartier</th>
                    <th>ville</th>
                    <th>prix</th>
                    <th>Actions</th>
                </tr>
        </thead>
        <tbody>
        {% for appartement in appartements %}
            <tr>
                <td>{{ appartement.identifiant }}</td>
                <td>{{ appartement.quartier }}</td>
                <td>{{ appartement.ville }}</td>
                <td>{{ appartement.prix }}</td>
                <td>
                    <a href="{{ path('appartement_show', {'id': appartement.id}) }}" class = "btn btn-primary btn-sm">Détail</a>
                    <a href="{{ path('appartement_edit', {'id': appartement.id}) }}" class = "btn btn-warning btn-sm">Modifier</a>
                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    
{% endblock %}

