{% extends 'admin.html.twig' %}

{% block title %}Nouveau Appartementt{% endblock %}

{% block body %}
    <h2>Ajouter un Appartement</h2>
   

    {{ include('appartement/_form.html.twig') }}

    
{% endblock %}
