{{ form_start(form) }}
<div class ="mt-4 offset-1">
    <div class="row">
            <div class="col-md-4">{{form_row(form.proprietaires, {'attr': {'class': "form-control form-control-sm"}})}}</div>
            <div class="col-md-4">{{form_row(form.types, {'attr': {'class': "form-control form-control-sm"}})}}</div>
            
    </div>
    <div class="row">
        <div class="col-md-4">{{form_row(form.typeGestions, {'attr': {'class': "form-control form-control-sm"}})}}</div>
           
            <div class="col-md-4">{{form_row(form.prix, {'attr': {'class': "form-control form-control-sm"}})}}</div>
    </div>
    <div class="row">
            <div class="col-md-4">{{form_row(form.ville, {'attr': {'class': "form-control form-control-sm"}})}}</div>
            <div class="col-md-4">{{form_row(form.quartier, {'attr': {'class': "form-control form-control-sm"}})}}</div>
    </div>
    <div class="row">
            <div class="col-md-4">{{form_row(form.nbrePieces, {'attr': {'class': "form-control form-control-sm"}})}}</div>
            <div class="col-md-4">{{form_row(form.nbrechambre, {'attr': {'class': "form-control form-control-sm"}})}}</div>
    </div>   
    <div class="col-lg-8">{{form_row(form.description, {'attr': {'class': "form-control form-control-sm"}})}}</div >  
    
     
    <button class=" btn {{ button_color|default('btn-success') }} offset-2 btn-sm" ><span><i class="fa fa-floppy-o" aria-hidden="true"> </i> {{ button_label|default('Enregistrer') }}</span></button>
    <a href="{{ path('proprietaire_index') }}" class="btn btn-info btn-sm ml-2"><span><i class="fa fa-chevron-left" aria-hidden="true"></i> </span>Retour à la liste</a>
</div>     
{{ form_end(form) }}




