{% extends 'admin.html.twig' %}

{% block title %}Edit Biens{% endblock %}

{% block body %}
{{ include('bien/_form.html.twig', {'button_label': 'Modifier','button_color':'btn btn-warning'}) }}

{% endblock %}
