{% extends 'admin.html.twig' %}

{% block title %}Biens{% endblock %}

{% block body %}
<div class = "container mt-4" >
        <h3 class="offset-3">liste des biens par proprietaire</h3> 
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}
        <table class="table table-stripped table-responsive-sm">
                <a href="{{ path('biens_new') }}" class="btn btn-info btn-sm mb-2"><span><i class="fa fa-file" aria-hidden="true"></i></span> Nouveau bien</a>
                <thead class="thead-dark">
                <tr>
                    <th>Proprietaire</th>
                    <th>Ville</th>
                    <th>Quartier</th>
                    <th>Prix</th>
                    <th>Type de bien</th>
                   <th>Actions</th>
                </tr>
            </thead>
            <tbody>
          
                    {% for bien in biens %}
                    <tr>
                       
                        <td>{{ bien.proprietaires }}</td>
                        <td>{{ bien.ville }}</td>
                        <td>{{ bien.quartier }}</td>
                        <td>{{ bien.prix }}</td>
                        <td>{{ bien.types }}</td>
                      
                <td>
                    <a href="{{ path('biens_show', {'id': bien.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-list" aria-hidden="true"></i></a>
                    <a href="{{ path('biens_edit', {'id': bien.id}) }}" class="btn btn-warning btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    {{ include('biens/_delete_form.html.twig') }}
                </td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun propietaire eregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}
