{% extends 'admin.html.twig' %}

{% block body %}

<div class="jumbotron text-center ">
   <div class="container">
        <div class ="row">
            <div class="col-md-8">
                {#
                {% if property.filename %}
                    <img src="{{vich_uploader_asset(property,'imageFile') | imagine_filter('meduim')}}" alt="img-card-top" >
                {% endif %}
                #}
            </div>
            <div class="col-md-4">
                
                <h1> {{bien.quartier}} ({{bien.ville}})</h1>
                <h2><div class="text-primary">{{bien.prix}} FCFA </div></h2>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container">
        <p>{{bien.description|nl2br}}</p>

        <div class= "row ">
             <div class="col-md-12">
                <h2>Carateristiques</h2>
                <table class= "table table-striped ">
                    
                    <tr>   
                        <td>Nombre de pièces </td>
                        <td>{{bien.nbrePieces}}</td>
                    </tr>
                    <tr>   
                        <td>Chambres</td>
                        <td>{{bien.nbrechambre}}</td>
                    </tr>
                    <tr>   
                        <td>Type de gestion</td>
                        <td>{{bien.typeGestions}}</td>
                    </tr>
                     <tr>   
                        <td>type</td>
                        <td>{{bien.types}}</td>
                    </tr>
                </table> 
            </div>
</div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
                <button class=" btn btn-warning btn-sm ml-2">
                    Modifier
                    <span><i class="fa fa-pencil" aria-hidden="true"> </i> </span>
                </button>
                <a href="{{ path('biens_index') }}" class="btn btn-info btn-sm mr-4">
                    <span><i class="fa fa-chevron-left" aria-hidden="true"></i> </span>
                    Retour à la liste
                </a>
        </div>
    </div>
</div>

{% endblock %} 
