{% extends 'owner.html.twig' %}

{% block body %}

<div class = "container">
    <h1>Gestion des biens</h1> 
    
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Biens </th>
                <th>Ville </th>
                <th>Quartier </th>
                <th>Prix </th>
                <th>Louer </th>
                <th>Actions </th>
                
            </tr>
        </thead>
        <tbody>
            {% for appartement in appartements %}
            <tr>
              <td>{{appartement.identifiant}}</td>
              <td>{{appartement.ville}}</td>
              <td>{{appartement.quartier}}</td>
              <td>{{appartement.prix}}</td>
              <td>{% if appartement.louer %}OUI{% else %}NON{% endif%}</td>
              <td><a href="{{ path('owner_show', {'id': appartement.id}) }}" class = "btn btn-info btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>détail</a>
            </tr>
           
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %} 
