{% extends 'owner.html.twig' %}

{% block body %}

<div class = "container">
    <h1>Liste des parcelles</h1> 
    
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>identifiant </th>
                <th>description </th>
                <th>prix </th>
                <th>vendu </th>
                <th>Actions </th>
            </tr>
        </thead>
        <tbody>
            {% for parcelle in parcelles %}
            <tr>
              <td>{{parcelle.identifiant}}</td>
              <td>{{parcelle.ville}}</td>
              <td>{{parcelle.quartier}}</td>
              <td>{{parcelle.prix}}</td>
              <td>{% if parcelle.vendu %}OUI{% else %}NON{% endif%}</td>
              <td><a href="{{ path('owner_show', {'id': parcelle.id}) }}" class = "btn btn-info btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>détail</a>
            </tr>
           
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %} 
