<form method="post" action="{{ path('proprietaire_delete', {'id': proprietaire.id}) }}" style =" display :inline-block" onsubmit="return confirm('Voulez vous vraiment supprimer?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ proprietaire.id) }}">
    <button class="btn btn-sm btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
   
</form>
