{{ form_start(form) }}
<div class ="mt-4 offset-2">
        <div class="col-md-8">{{form_row(form.nom, {'attr': {'class': "form-control form-control-sm"}})}}</div>
        <div class="col-md-8">{{form_row(form.adresse, {'attr': {'class': "form-control form-control-sm"}})}}</div>
        <div class="col-md-8">{{form_row(form.contact, {'attr': {'class': "form-control form-control-sm"}})}}</div>
     
    <button class=" btn {{ button_color|default('btn-success') }} offset-2 btn-sm" ><span><i class="fa fa-floppy-o" aria-hidden="true"> </i> {{ button_label|default('Enregistrer') }}</span></button>
    <a href="{{ path('proprietaire_index') }}" class="btn btn-info btn-sm ml-2 mb-5"><span><i class="fa fa-chevron-left" aria-hidden="true"></i> </span>Retour à la liste</a>
</div>     
{{ form_end(form) }}
