{% extends 'admin.html.twig' %}

{% block title %}Proprietaire index{% endblock %}

{% block body %}
<div class = "container mt-4" >
        <h3 class="offset-3">liste des proprietaires</h3> 
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}
        <table class="table table-stripped">
                <a href="{{ path('proprietaire_new') }}" class="btn btn-info btn-sm mb-2"><span><i class="fa fa-file" aria-hidden="true"></i></span> Nouveauproprietaire</a>
                <thead class="thead-dark">
                <tr>
                    <th>Proprietaire</th>
                    <th>Adresse</th>
                    <th>Contact</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for proprietaire in proprietaires %}
            <tr>
                
                <td>{{ proprietaire.nom }}</td>
                <td>{{ proprietaire.adresse }}</td>
                <td>{{ proprietaire.contact }}</td>
                <td>
                    <a href="{{ path('proprietaire_edit', {'id': proprietaire.id}) }}" class="btn btn-warning btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    {{ include('proprietaire/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun propietaire eregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}
