{% extends 'admin.html.twig' %}

{% block title %}Edit TypeGestion{% endblock %}

{% block body %}
    <h1>Edit TypeGestion</h1>

    {{ include('type_gestion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_gestion_index') }}">back to list</a>

    {{ include('type_gestion/_delete_form.html.twig') }}
{% endblock %}
