{% extends 'admin.html.twig' %}

{% block title %}TypeGestion index{% endblock %}

{% block body %}
    <h1>TypeGestion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_gestion in type_gestions %}
            <tr>
                <td>{{ type_gestion.id }}</td>
                <td>{{ type_gestion.description }}</td>
                <td>
                    <a href="{{ path('type_gestion_show', {'id': type_gestion.id}) }}">show</a>
                    <a href="{{ path('type_gestion_edit', {'id': type_gestion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_gestion_new') }}">Create new</a>
{% endblock %}
