{% extends 'admin.html.twig' %}

{% block title %}New TypeGestion{% endblock %}

{% block body %}
    <h1>Create new TypeGestion</h1>

    {{ include('type_gestion/_form.html.twig') }}

    <a href="{{ path('type_gestion_index') }}">back to list</a>
{% endblock %}
