{% extends 'admin.html.twig' %}

{% block title %}TypeGestion{% endblock %}

{% block body %}
    <h1>TypeGestion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_gestion.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ type_gestion.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_gestion_index') }}">back to list</a>

    <a href="{{ path('type_gestion_edit', {'id': type_gestion.id}) }}">edit</a>

    {{ include('type_gestion/_delete_form.html.twig') }}
{% endblock %}
